/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************************************************************/

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 1fr;
}

div {
  border-radius: 8px;
}

/* header */

header{
  display: grid;
  grid-template-columns: 275px repeat(8, 1fr) 400px;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  align-items: center;
  justify-items: left;
}

.nav {
  background: gray;
  width: 60px;
  height: 25px;
}

.logo {
  justify-self: center;
  width: 150px;
  height: 50px;
  background-color: rgb(90, 90, 90);
}

.link1,
.link2,
.link3,
.link4,
.link5,
.link6,
.link7 {
  background-color: rgb(182, 182, 182);
}

.more {
  height: 40px;
  width: 75px;
}

.search {
  width: 350px;
  height: 50px;
  background-color: rgb(50, 50, 50);
}

/* hero */

.hero {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 585px 525px;
  justify-items: center;
  align-items: center;
}

/* second row */
.bigger {
  width: 400px;
  height: 75px;
  background: black;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.smaller {
  margin-top: 125px;
  width: 150px;
  height: 50px;
  background: black;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.color-changer {
  justify-self: right;
  background-color: rgb(182, 182, 182);
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  margin-bottom: 30px;
}

.wheel {
  width: 50px;
  height: 50px;
  margin-right: 210px;
}

.color {
  width: 140px;
  height: 40px;
  margin-right: 50px;
}

/* third row */

.title {
  background-color: rgb(60, 60, 60);
  grid-column: 1 / 2;
  height: 45px;
  margin-left: 80px;
}

.title1 {
  grid-row: 2 / 3;
}

.title2 {
  grid-row: 3 / 4;
}

.title3 {
  grid-row: 4 / 5;
}

.photo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 75px;
  width: 75px;
  align-self: center;
  margin-left: 80px;
  background-color: rgb(80, 80, 80);
}

.name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 25px;
  width: 150px;
  margin-left: 170px;
  align-self: center;
  background-color: rgb(90, 90, 90);
}

.comment {
  grid-column: 1 / 2;
  height: 30px;
  width: 20%;
  background-color: rgb(60, 60, 60);
  margin-top: 9px;
}

.hash {
  grid-column: 1 / 2;
  height: 30px;
  background-color: rgb(120, 120, 120);;
}

.arrow {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
  height: 30px;
  width: 50px;
  margin-left: 80px;
  background-color: rgb(120, 120, 120);
}

.article {
  display: grid;
  grid-template-rows: 125px 50px 50px 90px 125px 100px;
  height: 100%;
  width: 100%;
}

/* article1 */

.article1 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.article1 .title1 {
  width: 80%;
}

.article1 .title2 {
  width: 70%;
}

.article1 .title3 {
  width: 25%;
}

.article1 .comment {
  grid-row: 4 / 5;
  margin-left: 295px;
}

.article1 .hash1 {
  grid-row: 5 / 6;
  width: 23%;
  margin-left: 80px;
}

/* article2 */

.article2 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.article2 .title1 {
  width: 75%;
}

.article2 .title2 {
  width: 20%;
}

.article2 .hash1 {
  grid-row: 4 / 5;
  width: 75px;
  margin-top: 40px;
  margin-left: 80px;
}

.article2 .hash2 {
  grid-row: 4 / 5;
  width: 75px;
  margin-top: 40px;
  margin-left: 190px;
}

.article2 .hash3 {
  grid-row: 4 / 5;
  width: 125px;
  margin-top: 40px;
  margin-left: 290px;
}

.article2 .comment {
  grid-row: 3 / 4;
  margin-left: 250px;
}

/* 4th row */

/* article3 */

.article3 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.article3 .title1 {
  width: 55%;
}

.article3 .title2 {
  width: 70%;
}

.article3 .title3 {
  width: 42%;
}

.article3 .comment {
  grid-row: 4 / 5;
  margin-left: 54%;
}

.article3 .hash1 {
  grid-row: 5 / 6;
  width: 12%;
  margin-left: 80px;
}

.article3 .hash2 {
  grid-row: 5 / 6;
  width: 150px;
  margin-left: 210px;
}

/* article4 */

.article4 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.article4 .title1 {
  width: 73%;
}

.article4 .title2 {
  width: 55%;
}

.article4 .comment {
  grid-row: 3 / 4;
  margin-left: 67%;
  width: 15%;
}

.article4 .hash1 {
  grid-row: 4 / 5;
  width: 75px;
  margin-top: 40px;
  margin-left: 80px;
}

.article4 .hash2 {
  grid-row: 4 / 5;
  width: 130px;
  margin-top: 40px;
  margin-left: 190px;
}