/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************************************************************/

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 1fr;
}

div {
  border-radius: 8px;
}

/* header */

header{
  display: grid;
  grid-template-columns: 275px repeat(8, 1fr) 400px;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  align-items: center;
  justify-items: left;
}

.nav {
  background: gray;
  width: 60px;
  height: 25px;
}

.logo {
  justify-self: center;
  width: 150px;
  height: 50px;
  background-color: rgb(90, 90, 90);
}

.link1,
.link2,
.link3,
.link4,
.link5,
.link6,
.link7 {
  background-color: rgb(182, 182, 182);
}

.more {
  height: 40px;
  width: 75px;
}

.search {
  width: 350px;
  height: 50px;
  background-color: rgb(50, 50, 50);
}

/* hero */

.hero {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 585px 525px 530px 660px 770px 
                      770px 270px 1100px 425px 1400px 600px;
  justify-items: center;
  align-items: center;
}

.scroll-top {
  position: fixed;
  bottom: 15px;
  right: 20px;
  background: rgb(240, 240, 240);
  height: 50px;
  width: 50px;
}

/* second row */
.bigger {
  width: 400px;
  height: 75px;
  background: black;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.smaller {
  margin-top: 125px;
  width: 150px;
  height: 50px;
  background: black;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.color-changer {
  justify-self: right;
  background-color: rgb(182, 182, 182);
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  margin-bottom: 30px;
}

.wheel {
  width: 50px;
  height: 50px;
  margin-right: 210px;
}

.color {
  width: 140px;
  height: 40px;
  margin-right: 50px;
}

/* featured-articles */

.featured-title {
  background-color: rgb(60, 60, 60);
  grid-column: 1 / 2;
  height: 45px;
  margin-left: 80px;
}

.featured-title1 {
  grid-row: 2 / 3;
}

.featured-title2 {
  grid-row: 3 / 4;
}

.featured-title3 {
  grid-row: 4 / 5;
}

.photo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 75px;
  width: 75px;
  align-self: center;
  margin-left: 80px;
  background-color: rgb(80, 80, 80);
}

.name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 25px;
  width: 150px;
  margin-left: 170px;
  align-self: center;
  background-color: rgb(90, 90, 90);
}

.comment {
  grid-column: 1 / 2;
  height: 30px;
  width: 20%;
  background-color: rgb(60, 60, 60);
  margin-top: 9px;
}

.hash {
  grid-column: 1 / 2;
  height: 30px;
  background-color: rgb(120, 120, 120);;
}

.arrow {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
  height: 30px;
  width: 50px;
  margin-left: 80px;
  background-color: rgb(120, 120, 120);
}

.featured-article {
  display: grid;
  grid-template-rows: 125px 50px 50px 90px 125px 100px;
  height: 100%;
  width: 100%;
}
/* third row */
/* featured-article1 */

.featured-article1 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.featured-article1 .featured-title1 {
  width: 80%;
}

.featured-article1 .featured-title2 {
  width: 70%;
}

.featured-article1 .featured-title3 {
  width: 25%;
}

.featured-article1 .comment {
  grid-row: 4 / 5;
  margin-left: 295px;
}

.featured-article1 .hash1 {
  grid-row: 5 / 6;
  width: 23%;
  margin-left: 80px;
}

/* featured-article2 */

.featured-article2 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.featured-article2 .featured-title1 {
  width: 75%;
}

.featured-article2 .featured-title2 {
  width: 20%;
}

.featured-article2 .hash1 {
  grid-row: 4 / 5;
  width: 75px;
  margin-top: 40px;
  margin-left: 80px;
}

.featured-article2 .hash2 {
  grid-row: 4 / 5;
  width: 75px;
  margin-top: 40px;
  margin-left: 190px;
}

.featured-article2 .hash3 {
  grid-row: 4 / 5;
  width: 125px;
  margin-top: 40px;
  margin-left: 290px;
}

.featured-article2 .comment {
  grid-row: 3 / 4;
  margin-left: 250px;
}

/* 4th row */

/* featured-article3 */

.featured-article3 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.featured-article3 .featured-title1 {
  width: 55%;
}

.featured-article3 .featured-title2 {
  width: 70%;
}

.featured-article3 .featured-title3 {
  width: 42%;
}

.featured-article3 .comment {
  grid-row: 4 / 5;
  margin-left: 54%;
}

.featured-article3 .hash1 {
  grid-row: 5 / 6;
  width: 12%;
  margin-left: 80px;
}

.featured-article3 .hash2 {
  grid-row: 5 / 6;
  width: 150px;
  margin-left: 210px;
}

/* featured-article4 */

.article4 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.featured-article4 .featured-title1 {
  width: 73%;
}

.featured-article4 .featured-title2 {
  width: 55%;
}

.featured-article4 .comment {
  grid-row: 3 / 4;
  margin-left: 67%;
  width: 15%;
}

.featured-article4 .hash1 {
  grid-row: 4 / 5;
  width: 75px;
  margin-top: 40px;
  margin-left: 80px;
}

.featured-article4 .hash2 {
  grid-row: 4 / 5;
  width: 130px;
  margin-top: 40px;
  margin-left: 190px;
}

/* 5th row */

.membership-ad1 {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  background: black;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: 70% 1fr;
}

.membership-ad1 .text {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background: rgb(120, 120, 120);
  margin-top: 5%;
  margin-left: 25%;
  height: 80%;
  width: 65%;
}

.membership-ad1 .image {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background: rgb(182, 182, 182);
  margin-top: -75px;
  margin-left: 5%;
  height: 300px;
  width: 200px;
}

.membership-ad1 .button {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background: rgb(182, 182, 182);
  margin-top: 20px;
  margin-left: 25%;
  height: 60px;
  width: 410px;
}

/* 6th row */

.posts-row1 {
  grid-column: 1 / -1;
  grid-row: 5 / 6;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 420px;
  width: 100%;
  height: 100%;
}

.post {
  display: grid;
  grid-template-rows: 120px 30px 30px 55px 1fr;
}

.title {
  background: rgb(50, 50, 50);
  height: 25px;
  align-self: end;
}

.post-arrow {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  align-self: end;
  margin: 0 0 10px 5px;
  height: 10px;
  width: 25px;
  background: rgb(80, 80, 80);
}

.author {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  height: 18px;
  background: rgb(124, 123, 123);
}

.description {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  height: 220px;
  width: 95%;
  margin-top: 65px;
  background: rgb(150, 150, 150);
}

.post1 {
  margin-left: 60px;
}

.title1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.post1 .title1 {
  width: 68%;
}

.post1 .title2 {
  width: 85%;
}

.post1 .title3 {
  width: 85%;
}

.post1 .author {
  width: 175px;
}

.post1 .description {
  height: 260px;
  width: 95%;
}

.post2 {
  margin-left: 40px;
}

.post2 .title1 {
  width: 70%;
}

.post2 .title2 {
  width: 80%;
}

.post2 .title3 {
  width: 78%;
}

.post2 .author {
  width: 75px;
}

.post2 .description {
  height: 220px;
  width: 90%;
}

.post3 {
  margin-left: 20px;
}

.post3 .title1 {
  width: 74%;
}

.post3 .title2 {
  width: 76%;
}

.post3 .title3 {
  width: 70%;
}

.post3 .author {
  width: 125px;
}

.post3 .description {
  height: 220px;
  width: 90%;
}

.sponser-box {
  grid-row: 2 / -1;
  margin-top: -15px;
  background: black;
  height: 200px;
  width: 330px;
}

/* 7th row */

.posts-row2 {
  grid-column: 1 / -1;
  grid-row: 6 / 7;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 420px;
  grid-template-rows: 100px;
  width: 100%;
  height: 100%;
}

.membership-ad {
  grid-row: 2 / 3;
  background: black;
  height: 100%;
  width: 95%;
  display: grid;
  grid-template-rows: 265px 75px 140px 180px;
  justify-items: center;
  margin-left: 50px;  
}

.membership-ad .image {
  grid-row: 1 / 2;
  background: white;
  width: 250px;
  height: 225px;
  align-self: end;
}

.membership-ad .heading {
  grid-row: 2 / 3;
  background: rgb(240, 240, 240);
  width: 70%;
  height: 35px;
  align-self: end;
}

.membership-ad .text1 {
  grid-row: 3 / 4;
  background: rgb(120, 120, 120);
  width: 75%;
  height: 45%;
  align-self: center;
}

.membership-ad .button {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  background: rgb(182, 182, 182);
  width: 30%;
  height: 30%;
  align-self: center;
  margin: 0 25px 20px 0;
}

.membership-ad .text2 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  background: rgb(50, 50, 50);
  height: 20px;
  width: 30%;
  align-self: end;
  margin: 0 25px 40px 0;
}

.membership-ad2 { 
  grid-column: 1 / 3;
}

.post4 {
  grid-column: 3 / 4;
  grid-row: 1 / -1;
  margin: 40px 0 50px 20px;
  height: 720px;
}

.post4 .title1 {
  width: 78%;
}

.post4 .title2 {
  width: 72%;
}

.post4 .title3 {
  width: 20%;
}

.post4 .author {
  width: 175px;
  margin-top: -10px;
}

.post4 .description {
  height: 230px;
  width: 90%;
  margin-top: 35px;
}

.post5 {
  grid-column: 4 / -1;
  grid-row: 1 / -1;
  margin: 40px 0 0 0;
  height: 720px;
}

.post5 .title1 {
  width: 60%;
}

.post5 .author {
  grid-row: 3 / 4;
  align-self: end;
  width: 155px;
}

.post5 .description {
  grid-row: 4 / 5;
  height: 140px;
  width: 75%;
  margin-top: 20px;
}

/* 8th row */

.posts-row3 {
  grid-column: 1 / -1;
  grid-row: 7 / 8;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 420px;
  grid-template-rows: 100px;
  width: 100%;
  height: 100%;
}

.post6 {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  margin: 30px 0 0 60px;
  height: 720px;
}

.post6 .title1 {
  width: 90%;
}

.post6 .title2 {
  width: 95%;
}

.post6 .author {
  grid-row: 4 / 5;
  align-self: center;
  width: 135px;
}

.post6 .description {
  grid-row: 5 / 6;
  height: 270px;
  width: 100%;
  margin: 0;
}

.post7 {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  margin: 30px 0 0 60px;
  height: 720px;
}

.post7 .title1 {
  width: 85%;
}

.post7 .title2 {
  width: 85%;
}

.post7 .title3 {
  width: 85%;
}

.post7 .author {
  grid-row: 4 / 5;
  align-self: end;
  width: 135px;
}

.post7 .description {
  grid-row: 5 / 6;
  height: 270px;
  width: 100%;
  margin-top: 40px;
}

.membership-ad3 {
  grid-column: 3 / -1;
  width: 85%;
}

/* 9th row */

.more-articles {
  grid-column: 1 / -1;
  grid-row: 8 / 9;
  height: 50px;
  width: 250px;
  background-color: rgb(150, 150, 150);
  justify-self: center;
  align-self: center;
}

/* 10th row */

.click-ad {
  grid-column: 1 / -1;
  grid-row: 9 / 10;
  justify-items: center;
  align-items: end;
  display: grid;
  grid-template-rows: 80px 80px 60px 100px 170px 1fr;
  background-color: black;
  height: 100%;
  width: 100%;
}

.click-ad .date {
  grid-row: 1 / 2;
  height: 20px;
  width: 275px;
  background: rgb(50, 50, 50);
}

.click-ad .headline {
  height: 50px;
  background: white;
}

.click-ad .headline1 {
  grid-row: 2 / 3;
  width: 43%;
}

.click-ad .headline2 {
  grid-row: 3 / 4;
  width: 30%;
}

.click-ad .details {
  grid-row: 4 / 5;
  height: 75%;
  width: 50%;
  background: rgb(120, 120, 120);
}

.click-ad .button {
  grid-row: 5 / 6;
  height: 70px;
  width: 25%;
  background: rgb(240, 240, 240);
}

.click-ad .image {
  grid-row: 6 / -1;
  height: 80%;
  width: 55%;
  background: rgb(240, 240, 240);
  margin-bottom: 50px;
}

/* 11th row */

.weekly-person {
  grid-column: 1 / -1;
  grid-row: 10 / 11;
  display: grid;
  grid-template-columns: 23% 1fr;
  grid-template-rows: 23% 1fr;
  height: 100%;
  width: 100%;
}

.weekly-person .image {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  height: 50%;
  width: 60%;
  align-self: center;
  justify-self: center;
  background: rgb(80, 80, 80)
}

.weekly-person .title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 20%;
  background: rgb(150, 150, 150)
}

.weekly-person .description {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: start;
  width: 90%;
  height: 40%;
  margin-top: 40px;
}

/* 12th row */

.articles {
  grid-column: 1 / -1;
  grid-row: 11 / 12;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: repeat(3, 1fr) 100px;
}

.article {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 16% 20% 1fr;
}

.article .image {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 75px;
  width: 75px;
  background: rgb(120, 120, 120);
  justify-self: center;
  align-self: center;
}

.article .author {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  align-self: end;
  width: 35%;
}

.article .title {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  width: 50%;
  height: 40px;
  align-self: center;
  background: black;
}

.article .description {
  grid-column: 2 / -1;
  grid-row: 3 / -1;
  height: 50%;
  width: 90%;
  margin: 0;
}

.twitter-links {
  grid-column: 1 / -1;
  width: 250px;
  height: 25%;
  background: rgb(150, 150, 150);
  justify-self: center;
}